<header [class.scrolled]="isScrolled" class="main-header" >
    <div class="logo">
        <a (click)="scrollTo('home')">LOGO</a>
    </div>

    <input type="checkbox" class="menu-btn" name="menu-btn" id="menu-btn">
    <label for="menu-btn" class="menu-icon">
        <span class="menu-icon__line"></span>
    </label>

    <ul class="nav-links">
        <li class="nav-link">
            <a (click)="scrollTo('about')">About</a>
        </li>
        <li class="nav-link">
            <a (click)="scrollTo('portofolio')">Portofolio</a>
        </li>
        <li class="nav-link">
            <a (click)="scrollTo('services')">Services</a>
        </li>
        <li class="nav-link">
            <a (click)="scrollTo('contact')">Contact</a>
        </li>
    </ul>
</header> 