<header [class.scrolled]="isScrolled" class="main-header" >
    <div class="logo">
        <a href="#">LOGO</a>
    </div>

    <input type="checkbox" class="menu-btn" name="menu-btn" id="menu-btn">
    <label for="menu-btn" class="menu-icon">
        <span class="menu-icon__line"></span>
    </label>

    <ul class="nav-links">
        <li class="nav-link">
            <a href="#">About</a>
        </li>
        <li class="nav-link">
            <a href="#">Portofolio</a>
        </li>
        <li class="nav-link">
            <a href="#">Services</a>
        </li>
        <li class="nav-link">
            <a href="#">Contact</a>
        </li>
    </ul>
</header> 