<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">
                    Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative to help the upcoming programmers with
                    the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be
                    simple. We will help programmers build up concepts in different programming languages that include
                    C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.
                </p>
            </div>

            <div class="col-xs-3 col-md-2">
                <h6>Information</h6>
                <ul class="footer-links">
                    <li>
                        <b>Address</b>
                        <p>jl. suka suka no 1 </p>
                    </li>
                    <li>
                        <b>Phone Number</b>
                        <p>+627878215164</p>
                    </li>
                    <li>
                        <b>Email</b>
                        <p>danny@gmail.com</p>
                    </li>
                    <!-- <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Email</a></li>
                    <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li> -->
                </ul>
            </div>

            <div class="col-xs-3 col-md-4">
                <h6>Find Us</h6>
                <ul class="social-icons">
                    <li (click)="goToLink('https://www.facebook.com/')">
                        <a class="facebook" style="cursor: pointer;">
                            <fa-icon [icon]="faFacebookF"></fa-icon>
                        </a>
                        <span style="cursor: pointer;">&nbsp;&nbsp;Angular gh pages</span>
                    </li>
                    <li (click)="goToLink('https://www.instagram.com/')">
                        <a class="instagram" style="cursor: pointer;">
                            <fa-icon [icon]="faInstagram"></fa-icon>
                        </a>
                        <span  style="cursor: pointer;">&nbsp;&nbsp;Angular gh pages</span>
                    </li>
                    <li (click)="goToLink('https://www.google.com/maps/')">
                        <a class="gmaps" style="cursor: pointer;">
                            <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
                        </a>
                        <span  style="cursor: pointer;">&nbsp;&nbsp;Angular gh pages <small>On Google Maps</small></span>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
                    <a href="#">Angular gh pages</a>.
                </p>
            </div>
        </div>
    </div>
</footer>